.banner {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.banner textcontent {
    display: flex;
    flex-direction: column;
}

.banner img {
    max-width: 225px;
    margin: 20px;
}

.banner p {
    font-size: 25px;
    color: #4a4a4a;
    margin-top: 20px;
}

.banner a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.banner a:hover {
    background-color: #333;
}
