.CTA {
/*    width: 200px;*/
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #239b56;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur radius, color */
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:25px;
    margin-bottom:25px;
}

.CTA:hover {
    background-color: #1c7b44;
}
