footer {
    background-color: #2C3E50;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 18%;
    padding-right: 18%;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

svg text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

footer p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*--------------NAV LIST----------------*/
footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

footer a {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

footer a:hover::after {
    width: 100%;
}


@media (max-width: 1279px) {
    footer {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    footer p {
        text-align: center;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .svg-container {
        margin-left: auto;
        margin-right: auto;
    }

}
