header {
    background-color: #2C3E50;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16%;
    padding-right: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

svg text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

header nav {
    margin-top: 10px;
}

header nav ul {
    list-style-type: none; /* Remove bullet points */
    display: flex; /* Arrange nav items in a row */
    gap: 20px; /* Space between nav items */
    flex-direction: row;
    padding: 0px;
}

header nav .pageanchor {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}

header nav .pageanchor::after {
    content: ''; /* Required for pseudo-element */
    display: block; /* Make it a block element */
    height: 2px; /* Height of the underline */
    width: 0; /* Start with no width */
    background: white; /* Color of the underline */
    transition: width 0.3s; /* Transition for width */
    position: absolute; /* Position absolutely within the link */
    left: 0; /* Align to the left */
    bottom: -5px; /* Position below the text */
}

header nav .pageanchor:hover::after {
    width: 100%; /* Full width on hover */
}

.header-cta {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #239b56;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur radius, color */
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.header-cta:hover {
    background-color: #1c7b44;
}


@media (max-width: 1279px) {
    header {
        margin-bottom: 0px;
    }
}

@media (max-width: 1400px) {
    header {
        flex-direction: column;
        margin-bottom: 0px;
    }

    header ul {
        margin: 0px;
        margin-bottom: 10px;
    }

    .header-cta {
        width: 300px;
    }

    header nav ul {
        gap: 10px;
    }

    header a {
        text-align: center;
    }

    header nav {
        margin-top: 0px;
    }

    header {
        margin-bottom: 25px;
    }
}
