.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
}

@media (max-width: 1279px) {
    .hide-on-mobile {
        display: none;
    }
}