html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Ensure the body takes up the full height */
    display: flex;
    flex-direction: column;
    background-color: rgba(242,243,244,1);
}

html {
    scroll-behavior: smooth;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 4%
}

.container-left-column {
    flex: 0 1 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.container-right-column {
    flex: 0 1 calc(48%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1279px) {
    .container-left-column {
        flex-basis: 100%; /* Single column on screens smaller than 1200px */
    }

    .container-right-column {
        flex-basis: 100%; /* Single column on screens smaller than 1200px */
    }

    .content-container {
        gap: 0%
    }

    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
}
