.form-container {
    background-color: white;
    padding: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column; 
}

.form-heading {
    text-align: center;
    margin: 0px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    background-color: #239b56;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-pages-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 225px;
}

.form-field-columns-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    /*transform: translateX(0px);*/
    transition: transform 0.3s ease-in-out; /* Smooth transition for translateX */
}
.form-field-columns-container-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    /*transform: translateX(1000px);*/
    transition: transform 0.3s ease-in-out; /* Smooth transition for translateX */
}
.form-field-columns-container-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    /*transform: translateX(1000px);*/
    transition: transform 0.3s ease-in-out; /* Smooth transition for translateX */
}

.form-field-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

form label {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    width: 90%;
}

/*form label:after {
    content: " *";
    color: red;
}*/

.confidentialite {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-left: 10px;
}

.confidentialite input[type="checkbox"] {
    margin-right: 10px;
}

.form-button {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #239b56;
    color: #ffffff;
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur radius, color */
    border: 1px solid white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    flex: 1; /*buttons are equal width & take up free space*/
    text-overflow: ellipsis;
}

.form-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-button-container {
    display: flex;
    flex-direction: row;
}

.form-cta:hover {
    background-color: #1c7b44;
}

@media (max-width: 800px) {
    .form-field-columns {
        flex-direction: column;
    }

    .form-container {
        margin-top: 25px;
    }
}