.item-list {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 243, 244);
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.item-list .item-container {
    width: 22%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center; /*used to center the image*/
    background-color: rgba(242,243,244,1);
}

.item-list .item-container p {
    text-align: center; /*used to center the text*/
    margin: 0px;
}

.item-list .item-container .heading {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    color: rgb(44, 62, 80);
    text-align: center;
}

.item-list .item-container .text {
    font-family: Roboto;
    font-size: 16px;
    color: rgb(44, 62, 80);
}

.item-list .item-container img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 15px;
}

@media (max-width: 1279px) {
    .item-list .item-container {
        width: 48%;
        gap: 4%;
    }

    .item-list .item-container img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}
