.paragraph-box {
    width: 100%;
    box-sizing: border-box;
}

.paragraph-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}

.paragraph-image {
    width: 40%;
    object-fit: fill;
    border-radius: 15px;
}

.paragraph-box p {
    text-align: justify;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    word-spacing: 4px;
    line-height: 1.2;
    color: rgb(44, 62, 80);
    margin: 0px;
}

.paragraph-box .heading {
    text-align: start;
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: rgb(44, 62, 80);
    margin: 0px;
    margin-bottom: 20px;
}

.paragraph-box li {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: rgb(44, 62, 80);
    margin-bottom: 10px;
}

.paragraph-box .has-icon {
    list-style-type: none; /*remove the default dot*/
    padding-left: 0px; /*remove the default padding*/
    background-repeat: no-repeat;
    background-position: left center;
}

@media (max-width: 1279px) {
    .paragraph-wrapper {
        flex-direction: column;
        row-gap: 25px;
    }

    .paragraph-image {
        width: 90%;
    }
}

@media (orientation: landscape) {
    img {
        max-height: 400px;
        max-width: 600px;
        object-fit: contain;
    }
}